streamlit==1.39.0

numpy
pandas

# Raster y GIS
rasterio
affine
geopandas
shapely
pyproj
fiona

# Mapa interactivo
folium
streamlit-folium

# Visualización
matplotlib
plotly

# Manejo de imágenes para Folium y downsampling
Pillow