streamlit==1.39.0
numpy==2.0.2
pandas==2.2.2
matplotlib==3.8.4

rasterio==1.3.9
affine==2.4.0
shapely==2.0.4
geopandas==0.14.4
pyproj==3.6.1
folium==0.15.1
streamlit-folium==0.15.0

plotly==5.24.1

Pillow==10.2.0

# Necesario para geopandas/shapely/pyproj
fiona==1.9.5
click==8.1.7